* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lexend", sans-serif;
}

:root {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  background-color: #F6FDFF;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lexend", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 70px;
  width: 100%;
  height: auto;
  background-color: #F6FDFF;
  padding-block: 15px;
  position: fixed;
  top: 0;
  z-index: 50;
}
header .logo {
  width: 8%;
  height: 8%;
  cursor: pointer;
}
header .logo .logowrap {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
header .logo .logowrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .navlinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  list-style: none;
}
header .navlinks ul li {
  height: 30px;
  overflow: hidden;
}
header .navlinks ul li a {
  text-decoration: none;
  color: #1897BF;
  font-size: 14px;
  font-family: "Lexend", sans-serif;
  position: relative;
  overflow: hidden;
}
header .navlinks ul li a::before {
  content: "";
  height: 3px;
  border-radius: 2px;
  width: 100%;
  position: absolute;
  bottom: -1rem;
  background-color: #FFC225;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}
header .navlinks ul li a:hover::before {
  bottom: -0.3rem;
}
header > button {
  padding: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  border: none;
  outline: none;
  background: none;
}
header > button i {
  font-size: 20px;
  font-weight: 400;
  color: #1897BF;
}
header > button:hover {
  background-color: #1897BF;
  cursor: pointer;
}
header > button:hover i {
  color: white;
}
header .search {
  position: relative;
}
header .search > i {
  position: absolute;
  font-size: 15px;
  font-weight: 400;
  top: 30%;
  right: -20px;
  cursor: pointer;
}
header .search input {
  width: 100%;
  padding: 10px 25px;
  border: none;
  outline: none;
  background-color: #EEE;
  border-radius: 10px;
}
header .search input:focus {
  outline: 1px solid #1897BF;
}
header .search button {
  position: absolute;
  top: 5px;
  right: 15px;
  padding: 4px;
  background: none;
  outline: none;
  border: none;
}
header .search button i {
  font-size: 15px;
  font-weight: 400;
  color: #1897BF;
}
header .cta-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
header .cta-section a {
  text-decoration: none;
}
header .cta-section a .register {
  padding: 12px 18px;
  border-radius: 10px;
  outline: none;
  border: 1.5px solid #FFC225;
  background: none;
  color: #FFC225;
  font-size: 14px;
  -webkit-transition: 500ms;
  transition: 500ms;
}
header .cta-section a .register:hover {
  background-color: #FFC225;
  color: #FAFAFA;
  cursor: pointer;
}
header .cta-section a {
  text-decoration: none;
}
header .cta-section a .login {
  padding: 12px 30px;
  border-radius: 10px;
  outline: none;
  border: 1.5px solid #1897BF;
  background-color: #1897BF;
  color: #FAFAFA;
  font-size: 14px;
  -webkit-transition: 500ms;
  transition: 500ms;
}
header .cta-section a .login:hover {
  border: 1.5px solid #1aa5cf;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 6px rgba(24, 152, 191, 0.3843137255);
          box-shadow: 0px 3px 6px rgba(24, 152, 191, 0.3843137255);
  background-color: #1aa5cf;
}
header .hamburger {
  color: #1897BF;
  font-size: 14px;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  header {
    padding-inline: 35px;
  }
  header .navlinks ul {
    gap: 30px;
  }
  header .search {
    font-size: 25px;
  }
  header .cta-section {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  header {
    padding-inline: 20px;
  }
  header .logo {
    width: 20%;
    height: 20%;
  }
  header .navlinks {
    display: none;
  }
  header .cta-section {
    display: none;
  }
  header .hamburger {
    display: block;
    font-size: 25px;
  }
}

.herosect {
  height: 87vh;
  background-color: #F6FDFF;
  width: 100%;
  padding-inline: 70px;
  margin-top: 89px;
}
.herosect .herodiv {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.herosect .herodiv .textarea-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}
.herosect .herodiv .textarea-h h1 {
  font-size: 45px;
  line-height: 60px;
  color: #1897BF;
  padding-right: 2rem;
  width: 80%;
}
.herosect .herodiv .textarea-h h1 span {
  color: #FFC225;
}
.herosect .herodiv .textarea-h .ratings-h {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 85px;
}
.herosect .herodiv .textarea-h .ratings-h div {
  width: 90px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.herosect .herodiv .textarea-h .ratings-h div p {
  text-align: center;
  font-size: 14px;
  color: #7C7C7C;
}
.herosect .herodiv .textarea-h .ratings-h div p span {
  font-size: 30px;
}
.herosect .herodiv .textarea-h .cta-h button {
  padding: 12px 30px;
  border-radius: 10px;
  outline: none;
  border: 1.5px solid #1897BF;
  background-color: #1897BF;
  color: #FAFAFA;
  font-size: 14px;
  -webkit-transition: 500ms;
  transition: 500ms;
}
.herosect .herodiv .textarea-h .cta-h button:hover {
  border: 1.5px solid #1aa5cf;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 6px rgba(24, 152, 191, 0.3843137255);
          box-shadow: 0px 3px 6px rgba(24, 152, 191, 0.3843137255);
  background-color: #1aa5cf;
}
.herosect .herodiv .textarea-h .socials-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.herosect .herodiv .textarea-h .socials-h div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #1897BF;
  color: #FAFAFA;
  cursor: pointer;
}
.herosect .herodiv .textarea-h .socials-h div p {
  font-size: 18px;
}
.herosect .herodiv .imgsection-h {
  width: 40%;
  position: relative;
}
.herosect .herodiv .imgsection-h .jujutsu-h {
  width: 315px;
  height: 427px;
  position: absolute;
  top: 32px;
  right: 30px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}
.herosect .herodiv .imgsection-h .jujutsu-h img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}
.herosect .herodiv .imgsection-h .stone-h {
  width: 250px;
  height: 338px;
  border-radius: 15px;
  overflow: hidden;
  position: absolute;
  top: 181px;
  left: 9px;
}
.herosect .herodiv .imgsection-h .stone-h img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  width: 100%;
  height: 400px;
  background-color: #1897BF;
  padding-inline: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
}
footer .hero {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .hero .logo-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 55px;
}
footer .hero .logo-socials .logo-f {
  width: 114px;
  height: 46px;
}
footer .hero .logo-socials .logo-f img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .hero .logo-socials .socials-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
footer .hero .logo-socials .socials-f .t-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .hero .logo-socials .socials-f .t-f div {
  width: 50px;
  height: 50px;
  background: none;
  border-radius: 50%;
  border: 1px solid #FAFAFA;
  color: #FAFAFA;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
footer .hero .logo-socials .socials-f .t-f div p i {
  font-size: 14px;
}
footer .hero .logo-socials .socials-f .t-f h5 {
  font-size: 14px;
  color: #FAFAFA;
}
footer .hero .stores-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
footer .hero .stores-f h2 {
  font-size: 20px;
  font-weight: 500;
  color: #FAFAFA;
}
footer .hero .stores-f ul {
  list-style: none;
}
footer .hero .stores-f ul li {
  margin-bottom: 25px;
}
footer .hero .stores-f ul li p {
  font-size: 14px;
  color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .hero .stores-f ul li p i {
  color: #FFC225;
  font-size: 20px;
}
footer .hero .qlink-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
footer .hero .qlink-f h2 {
  font-size: 20px;
  font-weight: 500;
  color: #FAFAFA;
}
footer .hero .qlink-f .linksection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}
footer .hero .qlink-f .linksection ul {
  list-style: none;
}
footer .hero .qlink-f .linksection ul li {
  margin-bottom: 25px;
}
footer .hero .qlink-f .linksection ul li a {
  font-size: 14px;
  color: #FAFAFA;
  text-decoration: none;
}
footer .hero .qlink-f .linksection ul li a:hover {
  text-decoration: underline;
}
footer .copyright {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FAFAFA;
}
footer .copyright p {
  font-size: 14px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  footer {
    height: 700px;
    padding-inline: 35px;
  }
}