* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lexend", sans-serif;
}

:root {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  background-color: #F6FDFF;
}

body {
  position: relative;
  overflow-x: hidden;
}
body .blue-floater {
  position: absolute;
  right: -20%;
  z-index: -40;
  width: 915px;
  height: 757px;
  border-radius: 0px 238.5px 0px 0px;
  background: linear-gradient(232deg, rgba(250, 250, 250, 0) 15.25%, #1897BF 132.98%);
  -webkit-filter: blur(165px);
          filter: blur(165px);
}
body .backLogo {
  position: absolute;
  right: 0%;
  top: 20%;
  z-index: -50;
  width: 900px;
  height: 800px;
}
body .backLogo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.login-form {
  width: 100%;
  height: auto;
  padding-block: 60px 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 89px;
}
.login-form .login-actu {
  width: 600px;
  height: auto;
  padding-block: 82px;
  background: #FAFAFA;
  border-radius: 20px;
  -webkit-box-shadow: 0px 6px 15px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 6px 15px 8px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login-form .login-actu h3 {
  color: #1897BF;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
}
.login-form .login-actu form {
  height: auto;
  width: auto;
  margin-top: 50px;
}
.login-form .login-actu form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.login-form .login-actu form .inputs #invalid-email,
.login-form .login-actu form .inputs #incorrect-password {
  font-weight: 500;
  color: #FF5247;
  font-size: 12px;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  display: none;
  width: 85%;
}
.login-form .login-actu form .inputs input {
  width: 416px;
  height: 56px;
  padding-inline: 25px;
  border: none;
  outline: none;
  background-color: #EEE;
  border-radius: 10px;
}
.login-form .login-actu form .inputs input:focus {
  outline: 1px solid #1897BF;
}
.login-form .login-actu form .inputs #password-login,
.login-form .login-actu form .inputs #password-register,
.login-form .login-actu form .inputs #password-confirm {
  padding-right: 30px;
  background-repeat: no-repeat;
  background-position: 95%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(124,124,124,1)'%3E%3Cpath d='M1.18164 12C2.12215 6.87976 6.60812 3 12.0003 3C17.3924 3 21.8784 6.87976 22.8189 12C21.8784 17.1202 17.3924 21 12.0003 21C6.60812 21 2.12215 17.1202 1.18164 12ZM12.0003 17C14.7617 17 17.0003 14.7614 17.0003 12C17.0003 9.23858 14.7617 7 12.0003 7C9.23884 7 7.00026 9.23858 7.00026 12C7.00026 14.7614 9.23884 17 12.0003 17ZM12.0003 15C10.3434 15 9.00026 13.6569 9.00026 12C9.00026 10.3431 10.3434 9 12.0003 9C13.6571 9 15.0003 10.3431 15.0003 12C15.0003 13.6569 13.6571 15 12.0003 15Z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 20px;
}
.login-form .login-actu form .inputs #password-login:hover,
.login-form .login-actu form .inputs #password-register:hover,
.login-form .login-actu form .inputs #password-confirm:hover {
  cursor: pointer;
}
.login-form .login-actu form .forgot-remem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
  margin-top: 30px;
}
.login-form .login-actu form .forgot-remem a {
  text-decoration: none;
  color: #1897BF;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
.login-form .login-actu form .forgot-remem a p {
  font-size: 16px;
  font-weight: 300;
}
.login-form .login-actu form .forgot-remem a:hover {
  color: #FFC225;
}
.login-form .login-actu form .forgot-remem div label {
  font-size: 16px;
  color: #7C7C7C;
  font-weight: 300;
}
.login-form .login-actu form .cre8-acct {
  color: #7C7C7C;
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
}
.login-form .login-actu form .cre8-acct a {
  color: #1897BF;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  text-decoration: none;
}
.login-form .login-actu form .cre8-acct a:hover {
  color: #FFC225;
  cursor: pointer;
  text-decoration: underline;
}
.login-form .login-actu form button {
  padding: 12px 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #1897BF;
  color: #FAFAFA;
  font-size: 16px;
  -webkit-transition: 500ms;
  transition: 500ms;
  width: 416px;
  height: 60px;
  margin-top: 50px;
}
.login-form .login-actu form button:hover {
  background: none;
  outline: 1.5px solid #1897BF;
  color: #1897BF;
  cursor: pointer;
}
.login-form .login-actu button {
  padding: 12px 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #1897BF;
  color: #FAFAFA;
  font-size: 16px;
  -webkit-transition: 500ms;
  transition: 500ms;
  width: 416px;
  height: 60px;
  margin-top: 50px;
}
.login-form .login-actu button:hover {
  background: none;
  outline: 1.5px solid #1897BF;
  color: #1897BF;
  cursor: pointer;
}
.login-form .login-actu .cate-housing {
  width: auto;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 40px;
}
.login-form .login-actu .cate-housing div {
  width: 144px;
  height: 100px;
  background-color: #EEE;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
.login-form .login-actu .cate-housing div:hover {
  background-color: #D1D1D1;
}

footer {
  width: 100%;
  height: 400px;
  background-color: #1897BF;
  padding-inline: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
}
footer .hero {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .hero .logo-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 55px;
}
footer .hero .logo-socials .logo-f {
  width: 114px;
  height: 46px;
}
footer .hero .logo-socials .logo-f img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .hero .logo-socials .socials-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
footer .hero .logo-socials .socials-f .t-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .hero .logo-socials .socials-f .t-f div {
  width: 50px;
  height: 50px;
  background: none;
  border-radius: 50%;
  border: 1px solid #FAFAFA;
  color: #FAFAFA;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
footer .hero .logo-socials .socials-f .t-f div p i {
  font-size: 16px;
}
footer .hero .logo-socials .socials-f .t-f h5 {
  font-size: 16px;
  color: #FAFAFA;
}
footer .hero .stores-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
footer .hero .stores-f h2 {
  font-size: 25px;
  font-weight: 500;
  color: #FAFAFA;
}
footer .hero .stores-f ul {
  list-style: none;
}
footer .hero .stores-f ul li {
  margin-bottom: 25px;
}
footer .hero .stores-f ul li p {
  font-size: 16px;
  color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .hero .stores-f ul li p i {
  color: #FFC225;
  font-size: 20px;
}
footer .hero .qlink-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
footer .hero .qlink-f h2 {
  font-size: 25px;
  font-weight: 500;
  color: #FAFAFA;
}
footer .hero .qlink-f .linksection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}
footer .hero .qlink-f .linksection ul {
  list-style: none;
}
footer .hero .qlink-f .linksection ul li {
  margin-bottom: 25px;
}
footer .hero .qlink-f .linksection ul li a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}
footer .hero .qlink-f .linksection ul li a:hover {
  text-decoration: underline;
}
footer .copyright {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FAFAFA;
}
footer .copyright p {
  font-size: 16px;
}

.plans-actu {
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.plans-actu h3 {
  color: #1897BF;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
}
.plans-actu .plans {
  width: 1082px;
  height: auto;
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 1fr 53px 1fr 53px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 53px;
}
.plans-actu .plans > div {
  width: 318px;
  height: 546px;
  border-radius: 20px;
  background-color: gray;
}
.plans-actu .plans .starter-plan {
  background-color: #FAFAFA;
  outline: 2.5px solid #1897BF;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-block: 60px 40px;
  position: relative;
}
.plans-actu .plans .starter-plan svg {
  position: absolute;
  top: -7%;
  right: -10%;
}
.plans-actu .plans .starter-plan .items {
  height: 272px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.plans-actu .plans .starter-plan h4 {
  color: #1897BF;
  font-size: 25px;
}
.plans-actu .plans .starter-plan p {
  font-size: 20px;
  font-weight: 300;
}
.plans-actu .plans .starter-plan ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  gap: 15px;
}
.plans-actu .plans .starter-plan ul li {
  font-size: 14px;
  font-weight: 300;
}
.plans-actu .plans .starter-plan a {
  text-decoration: none;
}
.plans-actu .plans .starter-plan a button {
  width: 250px;
  height: 50px;
  padding: 12px 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #1897BF;
  color: #FAFAFA;
  font-size: 16px;
  -webkit-transition: 500ms;
  transition: 500ms;
}
.plans-actu .plans .starter-plan a button:hover {
  background: none;
  outline: 1.5px solid #1897BF;
  color: #1897BF;
  cursor: pointer;
}
.plans-actu .plans .silver-plan {
  background-color: #FAFAFA;
  outline: 2.5px solid #7C7C7C;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-block: 60px 40px;
  position: relative;
}
.plans-actu .plans .silver-plan svg {
  position: absolute;
  top: -7%;
  right: -10%;
}
.plans-actu .plans .silver-plan .items {
  height: 272px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.plans-actu .plans .silver-plan h4 {
  color: #7C7C7C;
  font-size: 25px;
}
.plans-actu .plans .silver-plan p {
  font-size: 20px;
  font-weight: 300;
}
.plans-actu .plans .silver-plan ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  gap: 15px;
}
.plans-actu .plans .silver-plan ul li {
  font-size: 14px;
  font-weight: 300;
}
.plans-actu .plans .silver-plan a {
  text-decoration: none;
}
.plans-actu .plans .silver-plan a button {
  width: 250px;
  height: 50px;
  padding: 12px 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #1897BF;
  color: #FAFAFA;
  font-size: 16px;
  -webkit-transition: 500ms;
  transition: 500ms;
  background-color: #7C7C7C;
}
.plans-actu .plans .silver-plan a button:hover {
  background: none;
  outline: 1.5px solid #1897BF;
  color: #1897BF;
  cursor: pointer;
}
.plans-actu .plans .silver-plan a button:hover {
  color: #7C7C7C;
  outline: 1px solid #7C7C7C;
}
.plans-actu .plans .gold-plan {
  background-color: #FAFAFA;
  outline: 2.5px solid #FFC225;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-block: 60px 40px;
}
.plans-actu .plans .gold-plan .items {
  height: 272px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.plans-actu .plans .gold-plan h4 {
  color: #FFC225;
  font-size: 25px;
}
.plans-actu .plans .gold-plan p {
  font-size: 20px;
  font-weight: 300;
}
.plans-actu .plans .gold-plan ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  gap: 15px;
}
.plans-actu .plans .gold-plan ul li {
  font-size: 14px;
  font-weight: 300;
}
.plans-actu .plans .gold-plan a {
  text-decoration: none;
}
.plans-actu .plans .gold-plan a button {
  width: 250px;
  height: 50px;
  padding: 12px 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #1897BF;
  color: #FAFAFA;
  font-size: 16px;
  -webkit-transition: 500ms;
  transition: 500ms;
  background-color: #FFC225;
}
.plans-actu .plans .gold-plan a button:hover {
  background: none;
  outline: 1.5px solid #1897BF;
  color: #1897BF;
  cursor: pointer;
}
.plans-actu .plans .gold-plan a button:hover {
  color: #FFC225;
  outline: 1px solid #FFC225;
}
.plans-actu span {
  width: 50%;
  margin-top: 30px;
}
.plans-actu span p {
  color: #FF5247;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}