@import "./variables";
@import "./homemixin";
//This is the format for the body that includes the logo in the background
@mixin body-format{
    position: relative;
    overflow-x: hidden;
    .blue-floater{
        position: absolute;
        right: -20%;
        z-index: -40;
        width: 915px;
        height: 757px;
        border-radius: 0px 238.5px 0px 0px;
        background: linear-gradient(232deg, rgba(250, 250, 250, 0.00) 15.25%, #1897BF 132.98%);
        filter: blur(165px);
    }
    .backLogo{
        position: absolute;
        right: 0%;
        top: 20%;
        z-index: -50;
        width: 900px;
        height: 800px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@mixin login-form{
    width: 100%;
    height: auto;
    padding-block: 60px 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 89px;

    .login-actu{
        width: 600px;
        height: auto;
        padding-block: 82px;
        background: $whiteColor;
        border-radius: 20px;
        box-shadow: 0px 6px 15px 8px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3{
            color: #1897BF;
            font-size: 25px;
            font-style: normal;
            font-weight: 500;
            line-height: 60px;
        }

        form{
            height: auto;
            width: auto;
            margin-top: 50px;

            .inputs{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
    
                input{
                    @include filled-inputs();
                }

                #password-login,
                #password-register,
                #password-confirm{
                    padding-right: 30px;
                    background-repeat: no-repeat;
                    background-position: 95% ;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(124,124,124,1)'%3E%3Cpath d='M1.18164 12C2.12215 6.87976 6.60812 3 12.0003 3C17.3924 3 21.8784 6.87976 22.8189 12C21.8784 17.1202 17.3924 21 12.0003 21C6.60812 21 2.12215 17.1202 1.18164 12ZM12.0003 17C14.7617 17 17.0003 14.7614 17.0003 12C17.0003 9.23858 14.7617 7 12.0003 7C9.23884 7 7.00026 9.23858 7.00026 12C7.00026 14.7614 9.23884 17 12.0003 17ZM12.0003 15C10.3434 15 9.00026 13.6569 9.00026 12C9.00026 10.3431 10.3434 9 12.0003 9C13.6571 9 15.0003 10.3431 15.0003 12C15.0003 13.6569 13.6571 15 12.0003 15Z'%3E%3C/path%3E%3C/svg%3E");
                    background-size: 20px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
    
            .forgot-remem{
                display: flex;
                align-items: center;
                gap: 70px;
                margin-top: 30px;
    
                a{
                    text-decoration: none;
                    color: $primaryColor;
                    transition: 300ms ease;
    
                    p{
                        font-size: $smlFont;
                        font-weight: $fontW-footer;
                        
                    }

                    &:hover{
                        color:$secondaryColor;
                    }
                }
    
                div{
                    // input{
                        
                    // }
    
                    label{
                        font-size: $smlFont;
                        color: $grayColor;
                        font-weight: $fontW-footer;
                    }
                }
            }
    
            .cre8-acct{
                color: $grayColor;
                font-size: $smlFont;
                font-weight: $fontW-footer;
                margin-top: 20px;
    
                a{
                    color: $primaryColor;
                    transition: 300ms ease;
                    text-decoration: none;

                    &:hover{
                        color: $secondaryColor;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }

            button{
                @include button-2;
                width: 416px;
                height: 60px;
                margin-top: 50px;
                
            }
        }

        button{
            @include button-2;
            width: 416px;
            height: 60px;
            margin-top: 50px;
            
        }

        .cate-housing{
            @include cate-housing();
        }
    }
}

//Mixin for filled inputs with background color of $inputGray ike in the login screen
@mixin filled-inputs{
    width: 416px;
    height: 56px;
    padding-inline: 25px;
    border: none;
    outline: none;
    background-color: $inputGray;
    border-radius: 10px;

    &:focus{
        outline: 1px solid $primaryColor;
    }
}

//Mixin for the categories in the categories page
@mixin cate-housing{
    width: auto;
    height: auto;
    // background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 40px;

    div{
        width: 144px;
        height: 100px;
        background-color: $inputGray;
        border-radius: 10px;
        display: grid;
        place-items: center;
        transition: 300ms ease;

        &:hover{
            background-color: #D1D1D1;
        }
    }
}