$primaryColor: #1897BF;
$secondaryColor: #FFC225;
$backgroundColor: #F6FDFF;
$whiteColor: #FAFAFA;
$blackColor: #101010;
$grayColor: #7C7C7C;
$medFont: 18px;
$smlaFont: 14px;
$smlFont:  16px;
$navFont: 20px;
$largefont: 30px;
$xlfont: 45px;
$inline: 109px;
$inline-i: 35px;
$inline-p: 20px;
