$primaryColor: #1897BF;
$secondaryColor: #FFC225;
$backgroundColor: #F6FDFF;
$whiteColor: #FAFAFA;
$blackColor: #101010;
$grayColor: #7C7C7C;
$inputGray: #EEE;
$redColor: #FF5247;
$medFont: 18px;
$smlaFont: 12px;
$smlFont:  14px;
$navFont: 14px;
$footerHeading: 20px;
$fontW-footer: 300;
$largefont: 30px;
$xlfont: 45px;
$inline: 70px;
$inline-i: 35px;
$inline-p: 20px;
