@import "./variables";
@import "./homemixin";
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lexend', sans-serif;
}

header{
    @include Navbar;
    @include mediaQuery(1024px, 768px){
        @include Navbar-i;
    }
    @include mediaQuery(767px){
        @include Navbar-p;
    };
}

footer{
    @include footer;
}